<div class="main">
    <div class="main__head">Лучшие аниме</div>
    <div class="main__head_info">На данной странице отобраны лучшие аниме, отсортированные по рейтингу</div>
    <div class="main__page-movements">
        <button class="main__page-movements_back">&larr; Назад</button>
        <div>Страницы 1 из 1</div> <!--Здесь номера страниц будут меняться-->
        <button class="main__page-movements_forward">Вперед &rarr;</button>
    </div>
    <div class="main__container">
        <div class="main__container-primary">
            <div class="main__item" *ngFor="let anime of animes">
                <app-card-poster [anime]="anime"></app-card-poster>
            </div>
        </div>
        <div class="main__container-navigation">
            <div class="main__container-navigation__block">
                <div class="main__container-navigation__block_title">Рекомендации</div>
                <div class="main__container-navigation__block_list">
                    <ul>
                        <li><a href="kk">Избранное</a></li>
                        <li><a href="kk">От сообщества</a></li>
                        <li><a href="kk">Персонализированные</a></li>
                    </ul>
                </div>
            </div>
            <div class="main__container-navigation__block">
                <div class="main__container-navigation__block_title">Статус</div>
            <div class="main__container-navigation__block_list">
                    <ul style="list-style: none">
                        <li><input type="checkbox">Анонсировано</li>
                        <li><input type="checkbox">Сейчас выходит</li>
                        <li><input type="checkbox">Вышедшее</li>
                        <li><input type="checkbox">Недавно вышедшее</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
