<body>
  <div class="card-poster" *ngIf="anime">
      <div class="card-poster__block">
          <div class="card-poster__head" *ngIf="anime.russian">{{anime.russian}}</div>
          <div class="card-poster__discription">
<!--             {{anime.description}}-->
          </div>
          <div class="card-poster__info">
              <div class="type">
                  <div class="type__info">{{anime.kind}} {{anime.rating}}</div>
                  <div class="type__status">{{anime.status}}</div>
              </div>
              <span>{{anime.studios[0].name}}</span><br>
              <span>{{anime.episodes}}</span><br>
              <span></span>
          </div>
      </div>
      <div class="card-poster__raiting">
          {{anime.score}}
      </div>
  </div>
</body>
