<div class="title">
  {{anime.name | nameTranform:anime.russian}}
    <div class="title__explanation">Аниме / Сериалы / Сёнен</div>
</div>
<!--@TODO: доделать описание-->
<div class="main-part">
    <div class="main-container">
        <div class="main-part__flex">
            <img src="https://desu.shikimori.one/system/animes/original/{{anime.id}}.jpg" alt="poster-anime">
            <div class="main-part__basic-section">
                <div class="main-part__basic-section__block">
                    <div class="main-part__basic-section__block_title">Информация</div>
                    <div class="main-part__basic-section__block_dis">
                        <div class="main-part__basic-section__block_dis_line">
                            <div class="main-part__basic-section__block_dis_line__name">Тип:</div>
                            <div class="main-part__basic-section__block_dis_line__info">{{anime.kind | animeType }}</div>
                        </div>
                        <div class="main-part__basic-section__block_dis_line">
                            <div class="main-part__basic-section__block_dis_line__name">Эпизоды:</div>
                            <div class="main-part__basic-section__block_dis_line__info">
                              {{anime.episodes | episodesTranform:anime.episodes_aired:anime.status}}</div>
                        </div>
                        <div class="main-part__basic-section__block_dis_line">
                            <div class="main-part__basic-section__block_dis_line__name">Длительность эпизода:</div>
                            <div class="main-part__basic-section__block_dis_line__info">24 мин</div>
                        </div>
                          <div class="main-part__basic-section__block_dis_line__name alternative-name">Статус:</div>
                          <div class="main-part__basic-section__block_dis_line__status alternative-name"
                                [ngClass]="{'ongoing': anime.status == 'ongoing', 'anonsed': anime.status == 'anons', 'released': anime.status == 'released' }">
                            {{anime.status | statusTranform }}
                          </div>
                          <div class="main-part__basic-section__block_dis_line__info alternative-name">{{anime.aired_on | dateTranform:anime.released_on}}</div>
                        <div class="main-part__basic-section__block_dis_line__name">Жанры:
                            <span class="main-part__basic-section__block_dis_line__info mini-poster__info_dis_highlight"
                                  *ngFor="let x of anime.genres">{{x.russian + ' '}}</span></div>
                        <div class="main-part__basic-section__block_dis_line">
                            <div class="main-part__basic-section__block_dis_line__name">Рейтинг:</div>
                            <div class="main-part__basic-section__block_dis_line__info">{{anime.rating | ratingTranform}}</div>
                        </div>
                        <div class="main-part__basic-section__block_dis_line" *ngIf="anime.licensors.length>0">
                            <div class="main-part__basic-section__block_dis_line__name">Лицензировано:</div>
                            <div class="main-part__basic-section__block_dis_line__info">{{anime.licensors[0]}}</div>
                        </div>
                        <div class="main-part__basic-section__block_dis_line alternative-name">
                            <div class="main-part__basic-section__block_dis_line__name alternative-name" *ngIf="anime.synonyms.length>0">Альтернативные названия:</div>

                            <details class="main-part__basic-section__block_dis_line__info alternative-name">{{anime.synonyms.join(', ')}}
                              <summary><span>...</span></summary>
                            </details>
                        </div>
                    </div>
                </div>
                <div class="main-part__basic-section__block ">
                    <div class="main-part__basic-section__block_title">Рейтинг</div>
                    <div class="main-part__basic-section__block_rating">
                        <img src="/assets/images/NHK.png" alt="nhk">
                        <img src="/assets/images/NHK.png" alt="nhk">
                        <img src="/assets/images/NHK.png" alt="nhk">
                        <img src="/assets/images/NHK.png" alt="nhk">
                        <img src="/assets/images/nhk-tr.png" alt="nhk">
                        <div>9.12</div>
                    </div>
                    <div class="rating-word">Великолепно</div>
                    <div class="main-part__basic-section__block_title">Студия</div>
                    <div class="main-part__basic-section__block_dis">
                        <img src="https://shikimori.one/{{anime.studios[0].image}}" alt="studio">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-part__basic-section_discription">
            <div class="main-part__basic-section__block_title">Описание</div>
            <div class="main-part__basic-section__block_discription_info">
              {{description}}
            </div>
        </div>
        <div class="main-part__sec-info">
            <div class="main-part__sec-info__block">
                <div class="main-part__sec-info__block_title">Связанное</div>
                <div class="main-part__sec-info__block_discription">
                    <div class="mini-poster">
                        <img src="/assets/images/mini-alchemist.png" alt="mini-poster">
                        <div class="mini-poster__info">
                            <div class="mini-poster__info_title">Стальной алхимик</div>
                            <div class="mini-poster__info_dis">
                                <div>Манга</div>
                                <div>2001</div>
                                <div class="mini-poster__info_dis_highlight">Shounen Gangan</div>
                            </div>
                            <span class="mini-poster__info_dis_highlight">Адаптация</span>
                        </div>
                    </div>
                    <div class="mini-poster">
                        <img src="/assets/images/mini-alchemist.png" alt="mini-poster">
                        <div class="mini-poster__info">
                            <div class="mini-poster__info_title">Стальной алхимик</div>
                            <div class="mini-poster__info_dis">
                                <div>Манга</div>
                                <div>2001</div>
                                <div class="mini-poster__info_dis_highlight">Shounen Gangan</div>
                            </div>
                            <span class="mini-poster__info_dis_highlight">Адаптация</span>
                        </div>
                    </div>
                    <div class="mini-poster">
                        <img src="/assets/images/mini-alchemist.png" alt="mini-poster">
                        <div class="mini-poster__info">
                            <div class="mini-poster__info_title">Стальной алхимик</div>
                            <div class="mini-poster__info_dis">
                                <div>Манга</div>
                                <div>2001</div>
                                <div class="mini-poster__info_dis_highlight">Shounen Gangan</div>
                            </div>
                            <span class="mini-poster__info_dis_highlight">Адаптация</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-part__sec-info__block">
                <div class="main-part__sec-info__block_title">Кадры</div>
                <div class="main-part__sec-info__block_discription">
                    <img src="https://shikimori.one/{{x.preview}}" alt="screenshot" *ngFor="let x of anime.screenshots">
                </div>
                <div class="main-part__sec-info__block_title">Видео</div>
                <div class="main-part__sec-info__block_discription">
                    <img src="/assets/images/alchemist.png" alt="alchemist">
                    <img src="/assets/images/alchemist.png" alt="alchemist">
                </div>
            </div>
        </div>
    </div>
    <div class="main-part__side-container">
        <div class="main-part__side-container__block">
            <div class="main-part__side-container__block_title">Оценки</div>
            <div class="main-part__side-container__block_dis">
                <div class="main-part__side-container__block_rating_ten">36876</div>
                <div class="main-part__side-container__block_rating_nine">16668</div>
                <div class="main-part__side-container__block_rating_eight">10080</div>
                <div class="main-part__side-container__block_rating_seven">7200</div>
                <div class="main-part__side-container__block_rating_six">4400</div>
            </div>
            <div class="main-part__side-container__block_title">Похожее</div>
            <div class="main-part__side-container__block_dis">
                <img src="/assets/images/hunterx.png" alt="hunterXhunter">
                <img src="/assets/images/hunterx.png" alt="hunterXhunter">
                <img src="/assets/images/hunterx.png" alt="hunterXhunter">
                <img src="/assets/images/hunterx.png" alt="hunterXhunter">
            </div>
            <div class="main-part__side-container__block_title">Главные герои</div>
            <div class="main-part__side-container__block_dis">
                <img src="/assets/images/alchemist1.png" alt="hunterXhunter">
                <img src="/assets/images/alchemist2.png" alt="hunterXhunter">
            </div>
        </div>
        <div class="main-part__side-container__aside">
            <div class="main-part__side-container__aside_title">Викторина</div>
            <div class="main-part__side-container__aside_dis"></div>
            <div class="main-part__side-container__aside_title">Новости</div>
            <div class="main-part__side-container__aside_dis">Вышел 3 эпизод<span class="to-right">5 сент. 2015 г.</span></div>
            <div class="main-part__side-container__aside_title">На других сайтах</div>
            <div class="main-part__side-container__aside_dis">
                <div class="main-part__side-container__aside_dis_site">
                    <img src="/assets/images/kinoPoisk.png" alt="kinoPoisk">
                    <div class="other-sites">Кинопоиск</div>
                </div>
                <div class="main-part__side-container__aside_dis_site">
                    <img src="/assets/images/kinoPoisk.png" alt="kinoPoisk">
                    <div class="other-sites">Кинопоиск</div>
                </div>
            </div>
        </div>
    </div>
</div>
