.card {
    padding-right: 57px;
    width: 176px;
    height: 316px;
    padding-bottom: 70px;
}

.card img {
    width: 175px;
    height: 267px;
    border-radius: 7%;
}

.card__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(153, 48, 148);
}

.card__name a {
    text-decoration: none;
    font-weight: 600;
}

.card__kind-and-date {
    display: flex;
    width: 176px;
    height: 22px;
    font-size: 14px;
}

.card__kind-and-date__k {
    width: 130px;
}

.card__kind-and-date__d {
    width: 46px;
}
