<div class="main-part__sec-info__block">
  <div class="main-part__sec-info__block_title">Связанное</div>
  <div class="main-part__sec-info__block_discription">
      <div class="mini-poster">
          <img src="/assets/images/mini-alchemist.png" alt="mini-poster">
          <div class="mini-poster__info">
              <div class="mini-poster__info_title">Стальной алхимик</div>
              <div class="mini-poster__info_dis">
                  <div>Манга</div>
                  <div>2001</div>
                  <div class="mini-poster__info_dis_highlight">Shounen Gangan</div>
              </div>
              <span class="mini-poster__info_dis_highlight">Адаптация</span>
          </div>
      </div>
      <div class="mini-poster">
          <img src="/assets/images/mini-alchemist.png" alt="mini-poster">
          <div class="mini-poster__info">
              <div class="mini-poster__info_title">Стальной алхимик</div>
              <div class="mini-poster__info_dis">
                  <div>Манга</div>
                  <div>2001</div>
                  <div class="mini-poster__info_dis_highlight">Shounen Gangan</div>
              </div>
              <span class="mini-poster__info_dis_highlight">Адаптация</span>
          </div>
      </div>
      <div class="mini-poster">
          <img src="/assets/images/mini-alchemist.png" alt="mini-poster">
          <div class="mini-poster__info">
              <div class="mini-poster__info_title">Стальной алхимик</div>
              <div class="mini-poster__info_dis">
                  <div>Манга</div>
                  <div>2001</div>
                  <div class="mini-poster__info_dis_highlight">Shounen Gangan</div>
              </div>
              <span class="mini-poster__info_dis_highlight">Адаптация</span>
          </div>
      </div>
  </div>
</div>
