/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Merriweather', serif;
    background-color: silver;
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    color: brown;
}
